<div class="ui-g">
  <div class="ui-g-12">
    <h1 style="text-align: center">Cadastro de Venda</h1>
  </div>
</div>

<form>
  <div class="ui-g">
    <div class="ui-g-7 ui-g-offset-1 ui-fluid">
      <label>Cliente</label>
      <p-dropdown id="cliente" name="cliente" [autoWidth]="false" placeholder="Selecione" [options]="clientes"
        optionLabel="nome" [(ngModel)]="venda.cliente" required [filter]="true"></p-dropdown>
    </div>

    <div class="ui-g-3 ui-fluid">
      <label>Frete</label>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-dollar"></i></span>
        <input pInputText id="frete" name="frete" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
          [(ngModel)]="venda.frete" required />
      </div>
    </div>

    <div class="ui-g-10 ui-g-offset-1">
      <p-panel header="Itens">
        <div class="ui-g">
          <div class="ui-g-8 ui-fluid">
            <label>Produto</label>
            <p-dropdown id="produto" name="produto" [autoWidth]="false" placeholder="Selecione" [options]="produtos"
              optionLabel="nome" [(ngModel)]="item.produto" required [filter]="true"></p-dropdown>
          </div>
          <div class="ui-g-3 ui-fluid">
            <label>Quantidade</label>
            <input pInputText type="number" id="quantidade" name="quantidade" [(ngModel)]="item.quantidade" required />
          </div>
          <div class="ui-g-1 ui-fluid">
            <button pButton type="button" icon="pi pi-plus" id="adicionar" name="adicionar" style="height: 100%"></button>
          </div>
        </div>
      </p-panel>
    </div>
  </div>
</form>
